h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.entry{
    border:2px solid #dedede;
    padding:2em;
    border-radius:3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content{
    display: block;
    margin:auto;
}
h3, h2{
    margin-top:0;
    margin-bottom:0;
}

h3{
    font-size:1.25em;
}

.code-comment{
    color:#6a9949;
}

.code-content{
    background-color:#121212;
    padding:1em;
    border-radius:3px;
    margin-bottom: 1em;
}

code{
    color: #dedede; 
}

.nav{
    border-bottom:2px solid #dedede;
}